.appContainer {
  height: 100vh;
  background: linear-gradient(90deg, #9556cc 50%, #fff 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #9556cc;
  font-size: 2rem;
}

.innerContainer {
  padding: 20px;
  height: 90vh;
  border: 2px solid #fff;
  border-radius: 8px;
  width: 80vw;
  background: linear-gradient(90deg, #fff 50%, #9556cc 50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

label {
  display: block;
  color: #9556cc;
  font-weight: 700;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nameInput {
  padding: 10px;
  width: 300px;
  border: 1px solid #9556cc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.checkGender {
  margin: 0 8px;
  accent-color: #9556cc;
  border: 2px solid #fff;
}

select {
  padding: 8px 15px;
  outline: none;
  color: #9556cc;
  border-radius: 5px;
}

button {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  color: #9556cc;
  border: 1px solid #9556cc;
  border-radius: 8px;
  font-weight: 800;
  cursor: pointer;
}

.buttonContainer {
  margin-top: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-right: 10px;
}

p {
  color: red;
  padding: 0;
  margin: 0;
}
